= flash.notice
h1 = t '.title'
= link_to t('.to_tags'), tags_path
- @cooking_repertoires.each do |cooking_repertoire|
  li = link_to cooking_repertoire.name, cooking_repertoire_path(cooking_repertoire.id)
= link_to (t '.new_registration'), new_cooking_repertoire_path
